<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <title>Attendance</title>
</head>

<body id="house">
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="../../index.html">Home - 113</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
          aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Congress
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="../house/house-starter-page.html">House</a></li>
                <li><a class="dropdown-item" href="../senate/senate-starter-page.html">Senate</a></li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Attendance
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="#">House</a></li>
                <li><a class="dropdown-item" href="../senate/senate-attendance.html">Senate</a></li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Loyalty
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="../house/house-loyalty.html">House</a></li>
                <li><a class="dropdown-item" href="../senate/senate-loyalty.html">Senate</a></li>
              </ul>
            </li>
          </ul>
        </div>
    </nav>
  </header>
  <div id="app">
    <main id="attendance">
      <div class="container">
        <div class="row">

          <div class="col-6">
            <h3>Attendance</h3>
            <p>The Constitution specifies that a majority of members constitutes a quorum to do business in each
              house. Representatives and senators rarely force the presence of a quorum by demanding quorum
              calls; thus, in most cases, debates continue even if a majority is not present.</p>

            <p>The Senate uses roll-call votes; a clerk calls out the names of all the senators, each senator
              stating "aye" or "no" when his or her name is announced. The House reserves roll-call votes for
              the most formal matters, as a roll-call of all 435 representatives takes quite some time;
              normally, members vote by electronic device. In the case of a tie, the motion in question fails.
              In the Senate, the Vice President may (if present) cast the tiebreaking vote.</p>
          </div>


          <div class="col-6">
            <h3>House at a Glance</h3>
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>party</th>
                  <th>No.Of Reps</th>
                  <th>%votes w/Party</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Republicans</td>
                  <td>{{miembrosRepublicanos}}</td>
                  <td>{{promedioRepublicanos}}%</td>
                </tr>
                <tr>
                  <td>Democratic</td>
                  <td>{{miembrosDemocratas}}</td>
                  <td>{{promedioDemocratas}}%</td>
                </tr>
                <tr>
                  <td>Independent</td>
                  <td>{{miembrosIndependientes}}</td>
                  <td>{{promedioIndependientes}}%</td>
                </tr>
                <tr>
                  <td>Total</td>
                  <td>{{totalDeMiembros}}</td>
                  <td>{{Math.floor(totalVotosPromedio / totalDeMiembros)}}%</td>
                </tr>

              </tbody>
            </table>
          </div>


          <div class="col-6">
            <h4>Least Engaged (Bottom 10% Attendance)</h4>
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>No.Missed Votes</th>
                  <th>Missed%</th>
                </tr>
              </thead>
              <tbody id="tablaMenorCompromiso">
                <tr v-for="member in arrayCortadoMenores">
                  <td><a v-bind:href=member.url target="_blank">{{member.first_name}}
                    {{member.middle_name ?member.middle_name :""}} {{member.last_name}}</a></td>
                  <td>{{member.missed_votes}}</td>
                  <td>{{member.missed_votes_pct}}%</td>
                </tr>
              </tbody>
            </table>
          </div>


          <div class="col-6">
            <h4>Most Engaged (Top 10% Attendance)</h4>
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>No.Missed Votes</th>
                  <th>Missed%</th>
                </tr>
              </thead>
              <tbody id="tablaMayorCompromiso">
                <tr v-for="member in arrayCortadoMayores">
                  <td><a v-bind:href=member.url target="_blank">{{member.first_name}}
                    {{member.middle_name ?member.middle_name :""}} {{member.last_name}}</a></td>
                  <td>{{member.missed_votes}}</td>
                  <td>{{member.missed_votes_pct}}%</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </main>
  </div>
  <footer>
    <div class=" mt-5 m-auto text-white bg-dark text-center">
  <p>
    © 2021 Data insight group | All rigths reserved
  <p>
</div>
</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="../../data/vue.js"></script>
 

</body>

</html>